body {
   background-color: rgb(230, 199, 158);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
   text-align: center;
   color: rgb(117, 33, 33);
   font-size: 36px;
   font-weight: bold;
}


.home {
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-align: center;
}


h2 {
   color: rgb(117, 33, 33);
   font-size: 24px;
}


.outline {
   color: rgb(64, 16, 16)
}


.about {
   color: rgb(64, 16, 16)
}


h3 {
   font-style: italic;
}




.video {
   font-style: italic;
   color: rgb(64, 16, 16)
}


img {
   display: block;
   margin: auto;
}


.top {
   font-style: normal;
}